$mainColorSelect: #F16D7F;
$headerColor:#222222;
$promoColor:#F1E4E6;
$offerCardColor: rgba(33, 22, 22, 0.7);
$offerTextColor: #FFFFFF;
$featuredItemText:#9F9F9F;
$catalogCardBg:#F8F8F8;
$catalogCardTextColor:#5D5D5D;
$buttonBgColor:#F26376;
$buttonBorderColor:#FF6A6A;
$buttonTextColor:#fff;
$advantageColor:#FBFBFB;
$darkColor: #222224;
$footerCardBg: #FFFFFF;